## `acs_sdoh`

In [1]:
from CIFTools import acs_sdoh

Using `acs_sdoh`, you can not just download data for Cancer_InFocus but also for your own data project.   
Let's first take a look at how to download acs_sdoh data.   
`acs_sdoh` takes following arguments:   
* year: int
* state_fips : str, int or list of str (2 digit state fips code)
* query_level : str (possible values: 'state','county', 'tract','county subregion', 'block', 'zip'
* key : census key

You can sign up for the census key at : https://api.census.gov/data/key_signup.html

In this tutorial, we will use the sample key that may already be expired by the time you read the tutorial

In [2]:
key = # provide the census api user key

In [3]:
sdoh = acs_sdoh(2019, '21', 'county', key = key)

The function that you may call to scrap data for Cancer_InFocus is `cancer_infocus_download`.   
This function does not require any arguement

In [4]:
data_dictionary = sdoh.cancer_infocus_download()

{'year': 2019, 'state_fips': '21', 'query_level': 'county', 'acs_group': ['B27001', 'C27007'], 'acs_type': ''}
{'year': 2019, 'state_fips': '21', 'query_level': 'county', 'acs_group': 'B25002', 'acs_type': ''}
{'year': 2019, 'state_fips': '21', 'query_level': 'county', 'acs_group': 'B17026', 'acs_type': ''}
{'year': 2019, 'state_fips': '21', 'query_level': 'county', 'acs_group': 'B08141', 'acs_type': ''}
{'year': 2019, 'state_fips': '21', 'query_level': 'county', 'acs_group': 'B23025', 'acs_type': ''}
{'year': 2019, 'state_fips': '21', 'query_level': 'county', 'acs_group': 'B19083', 'acs_type': ''}
{'year': 2019, 'state_fips': '21', 'query_level': 'county', 'acs_group': 'B25070', 'acs_type': ''}
{'year': 2019, 'state_fips': '21', 'query_level': 'county', 'acs_group': 'B25034', 'acs_type': ''}
{'year': 2019, 'state_fips': '21', 'query_level': 'county', 'acs_group': 'B19058', 'acs_type': ''}
{'year': 2019, 'state_fips': '21', 'query_level': 'county', 'acs_group': 'B15003', 'acs_type': ''}
{'year': 2019, 'state_fips': '21', 'query_level': 'county', 'acs_group': 'B19013', 'acs_type': ''}
{'year': 2019, 'state_fips': '21', 'query_level': 'county', 'acs_group': 'B01001', 'acs_type': ''}
{'year': 2019, 'state_fips': '21', 'query_level': 'county', 'acs_group': 'B03002', 'acs_type': ''}

`cancer_infocus_download()` returns a dictionary object with pandas dataframe as values as well as the corresponding dataset names as keys.

In [5]:
data_dictionary.keys()

dict_keys(['insurance', 'vacancy', 'poverty', 'transportation', 'employment', 'gini_index', 'rent_to_income', 'houses_before_1960', 'public_assistance', 'education', 'income', 'demographic_age', 'demographic_race'])

In [7]:
data_dictionary['transportation'].head()

,FIPS,County,State,no_vehicle,two_or_more_vehicle,three_or_more_vehicle
0,21079,Garrard County,Kentucky,0.026159,0.867958,0.472388
1,21037,Campbell County,Kentucky,0.026872,0.779089,0.334509
2,21063,Elliott County,Kentucky,0.009025,0.852587,0.324308
3,21123,Larue County,Kentucky,0.000801,0.856342,0.463805
4,21167,Mercer County,Kentucky,0.018970,0.824078,0.399004

### Query other dataset

To query other dataset, you may want to use `add_custom_table` function.   
The function requires the following three arguments:
* group_id: acs group id (e.g. B01001)
    - you can provide multiple group ids in a list (e.g. \["B01001", "C27007"\])
    - However, all the acs groups must be in the same acs type
* acs_type:
    - '' : acs5
    - 'profile' : acs5/profile
    - 'subject' : acs5/subject
    - for more information, please visit: https://api.census.gov/data.html
* name: it will be a dictionary key for the dataset in the data_dictionary

Using the decorator of the `add_custom_table` you define how the dataframe to be organized since it is downloaded from the census.   
In the following example, the function does not change any from the raw data.

In [9]:
sdoh.clean_functions()

In [10]:
@sdoh.add_custom_table(["C27007", "B27001"], '', 'sample')
def download_custom_data(df):
    return df

{'year': 2019, 'state_fips': '21', 'query_level': 'county', 'acs_group': ['C27007', 'B27001'], 'acs_type': ''}

In [11]:
data_dictionary = sdoh.download_all()

In [13]:
data_dictionary['sample'].head()

,FIPS,County,State,B27001_001E,B27001_002E,B27001_003E,B27001_004E,B27001_005E,B27001_006E,B27001_007E,...,C27007_012E,C27007_013E,C27007_014E,C27007_015E,C27007_016E,C27007_017E,C27007_018E,C27007_019E,C27007_020E,C27007_021E
0,21079,Garrard County,Kentucky,17342,8483,675,675,0,1490,1469,...,8859,1915,1053,862,5273,1474,3799,1671,231,1440
1,21037,Campbell County,Kentucky,91367,44451,3352,3274,78,7322,7219,...,46916,10593,2835,7758,28694,4183,24511,7629,1152,6477
2,21063,Elliott County,Kentucky,5971,2759,220,220,0,545,538,...,3212,694,436,258,1807,695,1112,711,140,571
3,21123,Larue County,Kentucky,13912,6809,457,457,0,1159,1129,...,7103,1719,931,788,4107,1494,2613,1277,218,1059
4,21167,Mercer County,Kentucky,21412,10535,814,790,24,1812,1743,...,10877,2319,880,1439,6371,1541,4830,2187,275,1912

### ACSConfig

When exploring an acs group, you may use `ACSConfig`.
`ACSConfig` requires following arguements:
* year : str or int
* state_fips : a list of state fips or a single state fips as str
* query_level: str
* acs_group  : str
* acs_type   : str (optional)

In [24]:
from CIF_Config import ACSConfig
from pprint import pprint

In [19]:
cfg = ACSConfig(2020, 21, 'tract', 'B15001', acs_type = '')

In [20]:
cfg

ACSConfig(year=2020, state_fips=21, query_level='tract', acs_group='B15001', acs_type='')

ACSConfig can provide both variables within the group and their labels.   
In addition, it also provides a table explaining details of each variable.

In [26]:
print(cfg.variables)

['B15001_001E', 'B15001_002E', 'B15001_003E', 'B15001_004E', 'B15001_005E', 'B15001_006E', 'B15001_007E', 'B15001_008E', 'B15001_009E', 'B15001_010E', 'B15001_011E', 'B15001_012E', 'B15001_013E', 'B15001_014E', 'B15001_015E', 'B15001_016E', 'B15001_017E', 'B15001_018E', 'B15001_019E', 'B15001_020E', 'B15001_021E', 'B15001_022E', 'B15001_023E', 'B15001_024E', 'B15001_025E', 'B15001_026E', 'B15001_027E', 'B15001_028E', 'B15001_029E', 'B15001_030E', 'B15001_031E', 'B15001_032E', 'B15001_033E', 'B15001_034E', 'B15001_035E', 'B15001_036E', 'B15001_037E', 'B15001_038E', 'B15001_039E', 'B15001_040E', 'B15001_041E', 'B15001_042E', 'B15001_043E', 'B15001_044E', 'B15001_045E', 'B15001_046E', 'B15001_047E', 'B15001_048E', 'B15001_049E', 'B15001_050E', 'B15001_051E', 'B15001_052E', 'B15001_053E', 'B15001_054E', 'B15001_055E', 'B15001_056E', 'B15001_057E', 'B15001_058E', 'B15001_059E', 'B15001_060E', 'B15001_061E', 'B15001_062E', 'B15001_063E', 'B15001_064E', 'B15001_065E', 'B15001_066E', 'B15001_067E', 'B15001_068E', 'B15001_069E', 'B15001_070E', 'B15001_071E', 'B15001_072E', 'B15001_073E', 'B15001_074E', 'B15001_075E', 'B15001_076E', 'B15001_077E', 'B15001_078E', 'B15001_079E', 'B15001_080E', 'B15001_081E', 'B15001_082E', 'B15001_083E']

In [27]:
print(cfg.labels)

['Total', 'Male', 'Male - 18 to 24 years', '18 to 24 years - Less than 9th grade', '18 to 24 years - 9th to 12th grade, no diploma', '18 to 24 years - High school graduate (includes equivalency)', '18 to 24 years - Some college, no degree', "18 to 24 years - Associate's degree", "18 to 24 years - Bachelor's degree", '18 to 24 years - Graduate or professional degree', 'Male - 25 to 34 years', '25 to 34 years - Less than 9th grade', '25 to 34 years - 9th to 12th grade, no diploma', '25 to 34 years - High school graduate (includes equivalency)', '25 to 34 years - Some college, no degree', "25 to 34 years - Associate's degree", "25 to 34 years - Bachelor's degree", '25 to 34 years - Graduate or professional degree', 'Male - 35 to 44 years', '35 to 44 years - Less than 9th grade', '35 to 44 years - 9th to 12th grade, no diploma', '35 to 44 years - High school graduate (includes equivalency)', '35 to 44 years - Some college, no degree', "35 to 44 years - Associate's degree", "35 to 44 years - Bachelor's degree", '35 to 44 years - Graduate or professional degree', 'Male - 45 to 64 years', '45 to 64 years - Less than 9th grade', '45 to 64 years - 9th to 12th grade, no diploma', '45 to 64 years - High school graduate (includes equivalency)', '45 to 64 years - Some college, no degree', "45 to 64 years - Associate's degree", "45 to 64 years - Bachelor's degree", '45 to 64 years - Graduate or professional degree', 'Male - 65 years and over', '65 years and over - Less than 9th grade', '65 years and over - 9th to 12th grade, no diploma', '65 years and over - High school graduate (includes equivalency)', '65 years and over - Some college, no degree', "65 years and over - Associate's degree", "65 years and over - Bachelor's degree", '65 years and over - Graduate or professional degree', 'Female', 'Female - 18 to 24 years', '18 to 24 years - Less than 9th grade', '18 to 24 years - 9th to 12th grade, no diploma', '18 to 24 years - High school graduate (includes equivalency)', '18 to 24 years - Some college, no degree', "18 to 24 years - Associate's degree", "18 to 24 years - Bachelor's degree", '18 to 24 years - Graduate or professional degree', 'Female - 25 to 34 years', '25 to 34 years - Less than 9th grade', '25 to 34 years - 9th to 12th grade, no diploma', '25 to 34 years - High school graduate (includes equivalency)', '25 to 34 years - Some college, no degree', "25 to 34 years - Associate's degree", "25 to 34 years - Bachelor's degree", '25 to 34 years - Graduate or professional degree', 'Female - 35 to 44 years', '35 to 44 years - Less than 9th grade', '35 to 44 years - 9th to 12th grade, no diploma', '35 to 44 years - High school graduate (includes equivalency)', '35 to 44 years - Some college, no degree', "35 to 44 years - Associate's degree", "35 to 44 years - Bachelor's degree", '35 to 44 years - Graduate or professional degree', 'Female - 45 to 64 years', '45 to 64 years - Less than 9th grade', '45 to 64 years - 9th to 12th grade, no diploma', '45 to 64 years - High school graduate (includes equivalency)', '45 to 64 years - Some college, no degree', "45 to 64 years - Associate's degree", "45 to 64 years - Bachelor's degree", '45 to 64 years - Graduate or professional degree', 'Female - 65 years and over', '65 years and over - Less than 9th grade', '65 years and over - 9th to 12th grade, no diploma', '65 years and over - High school graduate (includes equivalency)', '65 years and over - Some college, no degree', "65 years and over - Associate's degree", "65 years and over - Bachelor's degree", '65 years and over - Graduate or professional degree']

In [29]:
cfg.var_desc

,name,label,concept
9131,B15001_014E,Estimate!!Total:!!Male:!!25 to 34 years:!!High...,SEX BY AGE BY EDUCATIONAL ATTAINMENT FOR THE P...
9133,B15001_015E,Estimate!!Total:!!Male:!!25 to 34 years:!!Some...,SEX BY AGE BY EDUCATIONAL ATTAINMENT FOR THE P...
9136,B15001_016E,Estimate!!Total:!!Male:!!25 to 34 years:!!Asso...,SEX BY AGE BY EDUCATIONAL ATTAINMENT FOR THE P...
9138,B15001_017E,Estimate!!Total:!!Male:!!25 to 34 years:!!Bach...,SEX BY AGE BY EDUCATIONAL ATTAINMENT FOR THE P...
9141,B15001_010E,Estimate!!Total:!!Male:!!18 to 24 years:!!Grad...,SEX BY AGE BY EDUCATIONAL ATTAINMENT FOR THE P...
...,...,...,...
18017,B15001_043E,Estimate!!Total:!!Female:,SEX BY AGE BY EDUCATIONAL ATTAINMENT FOR THE P...
18024,B15001_044E,Estimate!!Total:!!Female:!!18 to 24 years:,SEX BY AGE BY EDUCATIONAL ATTAINMENT FOR THE P...
18030,B15001_045E,Estimate!!Total:!!Female:!!18 to 24 years:!!Le...,SEX BY AGE BY EDUCATIONAL ATTAINMENT FOR THE P...
18046,B15001_040E,Estimate!!Total:!!Male:!!65 years and over:!!A...,SEX BY AGE BY EDUCATIONAL ATTAINMENT FOR THE P...
18055,B15001_041E,Estimate!!Total:!!Male:!!65 years and over:!!B...,SEX BY AGE BY EDUCATIONAL ATTAINMENT FOR THE P...

## Downloading facility data

To download facility data, you simply need to use `gen_facility_data` function.   
The fuction requires only one arguement:
* location : str or List\[str\] (abbreviation(s) of state name(s))

In [3]:
from CIFTools import gen_facility_data

In [4]:
facility_data = gen_facility_data(['KY','WV'])

downloading fqhc data file: 100%|██████████| 12.4M/12.4M [00:44<00:00, 291kiB/s]s]
downloading hpsa data file: 100%|██████████| 15.5M/15.5M [01:05<00:00, 248kiB/s]s]
downloading toxRel data file: 100%|██████████| 73.0M/73.0M [03:23<00:00, 376kiB/s]

In [8]:
facility_data.keys()

dict_keys(['nppes', 'mammography', 'hpsa', 'fqhc', 'tri_facility', 'superfund_site', 'lung_cancer_screening'])

Waiting on LCSR data...
Waiting on LCSR data...
Waiting on LCSR data...
Waiting on LCSR data...
Waiting on LCSR data...
Waiting on LCSR data...
LCSR data ready
Waiting on LCSR data...
Waiting on LCSR data...
Waiting on LCSR data...
Waiting on LCSR data...
LCSR data ready

In [5]:
import pandas as pd
all_facility = pd.concat(facility_data.values(), axis = 0).reset_index(drop = True)

In [7]:
all_facility

,Type,Name,Address,Phone_number,Notes,latitude,longitude
0,Gastroenterology,Jeffrey K Riggs D.O.,"231 Burley Ave, Hopkinsville, KY 42240",270-885-7300,,NaN,NaN
1,Gastroenterology,Angela M Jeffries M.D.,"210 E. Gray Street, Suite 802, Louisville, KY ...",502-588-2330,,NaN,NaN
2,Gastroenterology,Suzana Brozovic M.D.,"651 Centre View Blvd, Crestview Hills, KY 41017",859-331-6466,,NaN,NaN
3,Gastroenterology,Matthew C Cave M.D.,"401 E Chestnut St, Suite 310, Louisville, KY 4...",502-584-8563,,NaN,NaN
4,Gastroenterology,Noel D Canlas MD,"1305 N Elm St, Suite G, Henderson, KY 42420",270-826-0002,,NaN,NaN
...,...,...,...,...,...,...,...
3987,Lung Cancer Screening,Baptist Health Middletown Diagnostic Center,"12010 Shelbyville Rd, Louisville, KY 40243",502-259-3486,,NaN,NaN
3988,Lung Cancer Screening,Greenbrier Clinic,"40823 Midland Trl E, White Sulphur Springs, WV...",304-536-4870,,NaN,NaN
3989,Lung Cancer Screening,West Virginia University Hospitals,"Po Box 8062 1 Medical Center Drive, Morgantown...",304-598-4170,,NaN,NaN
3990,Lung Cancer Screening,West Virginia University Hospital Lung Cancer ...,"Po Box 9350, Morgantown, WV 26506",304-598-4170,,NaN,NaN
3991,Lung Cancer Screening,Western Kentucky Diagnostic Imaging,"Scottsville Rd, Bowling Green, KY 42101",270-796-2122,,NaN,NaN

## Downloading Cancer Data

Cancer statistics are queries from https://www.statecancerprofiles.cancer.gov/   
To query cancer statistics, you first need to define `scp_cancer_data` with *state_fips* arguments.   
*state_fips* can be single state fips code in string format or a list of state fips code.

In [1]:
from CIFTools import scp_cancer_data
cancer = scp_cancer_data(['21','22'])

Then you can query data and retrieve it from `cancer_data` attribute, which is in a dictionary format with each value is a pandas DataFrame for incidence or mortality data.

In [2]:
cancer.cancer_data

{'incidence':        FIPS              County      Site       Type    AAR    AAC
 0     21071        Floyd County  All Site  Incidence  620.5  294.0
 1     21197       Powell County  All Site  Incidence  618.7   91.0
 2     21023      Bracken County  All Site  Incidence  597.4   64.0
 3     21193        Perry County  All Site  Incidence  596.6  202.0
 4     21171       Monroe County  All Site  Incidence  595.2   86.0
 ...     ...                 ...       ...        ...    ...    ...
 3675  22115       Vernon Parish  Prostate  Incidence  104.1   23.0
 3676  22039   Evangeline Parish  Prostate  Incidence  102.2   20.0
 3677  22087  St. Bernard Parish  Prostate  Incidence  100.3   24.0
 3678  22059     La Salle Parish  Prostate  Incidence   97.9    9.0
 3679  22127         Winn Parish  Prostate  Incidence   97.0   10.0

 [3680 rows x 6 columns],
 'mortality':        FIPS                   County      Site       Type  AAR   AAC
 0     21193             Perry County  All Site  Incidence   No  19.0
 1     21131            Leslie County  All Site  Incidence   No  65.0
 2     21051              Clay County  All Site  Incidence   No  44.0
 3     21237             Wolfe County  All Site  Incidence   No  98.0
 4     21071             Floyd County  All Site  Incidence   No  42.0
 ...     ...                      ...       ...        ...  ...   ...
 3675  22107            Tensas Parish  Prostate  Incidence  ***     *
 3676  22121  West Baton Rouge Parish  Prostate  Incidence  ***     *
 3677  22123      West Carroll Parish  Prostate  Incidence  ***     *
 3678  22125    West Feliciana Parish  Prostate  Incidence  ***     *
 3679  22127              Winn Parish  Prostate  Incidence  ***     *

 [3680 rows x 6 columns]}

## Risk Behavior and Screening Data

CDC risk behavior and screening data is querried using Socrata API.   
You then need the followings:
* domain : str =  "chronicdata.cdc.gov"
* app_token : str = "nx4zQ2205wpLwaaaZeZp9zAOs"
* user_name : str
* password : str   

Then first define a SocrataConfig config object with the arguments above.   
It is okay to not have *user_name* and *password*, but it may cause a slow download of datasets

In [1]:
from CIF_Config import SocrataConfig

kwargs = {"domain": "chronicdata.cdc.gov",
      "app_token": "nx4zQ2205wpLwaaaZeZp9zAOs"}

cfg = SocrataConfig(**kwargs)

Then we provide the config object as well as state_fips (str or List\[str\]) to `places_data`

In [2]:
from CIFTools import places_data
cdc = places_data(['21','22'], cfg)

Then you can retrieve county-level and tract-level data from the `places_data` attribute

In [3]:
cdc.places_data

{'county':       FIPS         County      State Cancer_Prevalence Met_Cervical_Screen  \
 0    21085        Grayson   Kentucky               7.5                78.3
 1    21061       Edmonson   Kentucky               7.8                79.3
 2    21223        Trimble   Kentucky               7.6                80.1
 3    21075         Fulton   Kentucky               7.7                79.0
 4    21179         Nelson   Kentucky               7.1                82.3
 ..     ...            ...        ...               ...                 ...
 179  22117     Washington  Louisiana               7.2                79.8
 180  22103    St. Tammany  Louisiana               7.4                83.8
 181  22031        De Soto  Louisiana               7.1                81.1
 182  22077  Pointe Coupee  Louisiana               7.7                80.1
 183  22013      Bienville  Louisiana               7.7                79.9

     Met_Colon_Screen Currently_Smoke Met_Breast_Screen BMI_Obese
 0               70.9            27.1              64.3      41.5
 1               72.0            25.5              64.7      40.7
 2               71.3            23.6              67.3      38.7
 3               72.3            26.4              67.8      42.3
 4               75.3            19.5              70.0      37.9
 ..               ...             ...               ...       ...
 179             69.7            24.3              73.6      43.8
 180             75.7            16.7              78.9      31.3
 181             71.1            22.6              74.9      42.6
 182             70.5            21.5              73.1      40.6
 183             68.6            24.6              75.1      43.9

 [184 rows x 9 columns],
 'tract':      State            County  FIPS5         FIPS Cancer_Prevalence  \
 0       KY             Clark  21049  21049020500               7.3
 1       KY         Henderson  21101  21101020500               6.7
 2       KY        Montgomery  21173  21173920100               6.3
 3       KY         Jefferson  21111  21111011106               6.3
 4       KY            Warren  21227  21227011002               3.4
 ...    ...               ...    ...          ...               ...
 2225    LA        St. Landry  22097  22097960400               6.8
 2226    LA         Jefferson  22051  22051020512               8.1
 2227    LA           Orleans  22071  22071001701               7.4
 2228    LA  West Baton Rouge  22121  22121020402               5.4
 2229    LA            Iberia  22045  22045030100               6.2

      Met_Colon_Screen Currently_Smoke Met_Breast_Screen BMI_Obese
 0                76.1            18.1              76.2      33.3
 1                70.5            24.2              73.2      42.1
 2                72.8            22.3              72.5      37.5
 3                74.1            19.6              75.4      35.7
 4                67.8            24.0              76.1      38.8
 ...               ...             ...               ...       ...
 2225             64.0            29.6              75.0      35.3
 2226             71.5            12.8              82.8      32.8
 2227             72.1            17.7              84.7      36.6
 2228             73.1            16.8              78.6      33.3
 2229             69.9            23.2              80.2      38.5

 [2230 rows x 9 columns]}

## Downloading Food Desert Data

The food desert data is downloaded from the FDA: https://www.ers.usda.gov/data-products/food-access-research-atlas/download-the-data/   
Similar to `scp_cancer_data`, you first need to provide `food_desert` a state fips code or a list of state fips code if you have more than one state of interest.   
Another argument that `food_desert` requires is *var_name*. As default, the variable used in **Cancer InFocus** is **LILATracts_Vehicle** but if you have a different variable of your interest, you can provide the variable name. You can find variables from the link provided in the beginning.

In [1]:
from CIFTools import food_desert
fd = food_desert(['21','22'])

You can query and view the food desert data from the `food_desert_data` attribute.

In [2]:
fd.food_desert_data

downloading food desert data file: 100%|███| 81.8M/81.8M [05:02<00:00, 284kiB/s]

{'Tract':              FIPS  LILATracts_Vehicle  OHU2010
 0      2100000100                   0     1149
 1      2105000200                   0       41
 2      2105000300                   0      872
 3      2110000100                   0     1877
 4      2110000200                   0     2533
 ...           ...                 ...      ...
 2317  22125951800                   0     2552
 2318  22127960100                   0     1482
 2319  22127960200                   0     1871
 2320  22127960300                   0     1155
 2321  22127960400                   1      961

 [2322 rows x 3 columns],
 'County':       FIPS  LILATracts_Vehicle
 0    21000            0.000000
 1    21001            0.241592
 2    21003            0.000000
 3    21005            0.000000
 4    21007            0.296732
 ..     ...                 ...
 201  22400            0.351383
 202  22610            0.000000
 203  22750            0.000000
 204  22820            0.000000
 205  22900            1.000000

 [206 rows x 2 columns]}

## Downloading Water Violation Data

`water_violation` class variable can provide you accumulate number of water violations in a given county between `start_year` and `end_year`. When `end_year` is **None**, which is a default value for the argument, it gives the total accumulate number of violations for the given county since the `start_year`. The default for `start_year` is 2016. If you want to retrieve information for a single year, make sure `start_year` == `end_year`.

In [1]:
from CIFTools import water_violation

wv = water_violation(['21','22'])

In [2]:
wv.water_violation_data

                             County      State  Counts
0                      Adair County   Kentucky     0.0
1                      Allen County   Kentucky     2.0
2                   Anderson County   Kentucky     2.0
3                    Ballard County   Kentucky     0.0
4                     Barren County   Kentucky     0.0
..                              ...        ...     ...
179           Webster Parish County  Louisiana    14.0
180  West Baton Rouge Parish County  Louisiana     0.0
181      West Carroll Parish County  Louisiana    11.0
182    West Feliciana Parish County  Louisiana     0.0
183              Winn Parish County  Louisiana    48.0

[184 rows x 3 columns]

## Downloading BLS Employment Data

While ACS5 provides 5 years estimates of unemployment rate, the BLS provides most recent county-wise unemployment numbers.    
`BLS` with a state_fips code(s) provides the data.

In [1]:
from CIFTools import BLS
bls = BLS(['21','22'])

In [2]:
bls.bls_data

      FIPS  Unemployment Rate  Period
0    21001                4.7  Nov-22
1    21003                3.7  Nov-22
2    21005                3.1  Nov-22
3    21007                4.4  Nov-22
4    21009                4.1  Nov-22
..     ...                ...     ...
179  22119                3.4  Nov-22
180  22121                2.6  Nov-22
181  22123                4.2  Nov-22
182  22125                2.0  Nov-22
183  22127                3.2  Nov-22

[184 rows x 3 columns]